<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>HTML Page to Send Mail </title>
</head>
<body>
   
    <div style="border-top: 3px solid #EB5E00">
        <br />
        Dear $$empname$$,
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;
        Your login credential created successfully. &nbsp;Details of the same are as below:
        <br />
        <br />
        <table border="1" style="border-collapse:collapse;margin-left:20px;">
	    <tr>
                <td>URL:</td>
                <td>http://enprocess.writerinformation.com/FOAInvoiceProcessing/Forms/Login.aspx</td>
            </tr>
            <tr>
		<td><a href="http://enprocess.writerinformation.com/FOAInvoiceProcessing/Forms/Login.aspx">http://enprocess.writerinformation.com/FOAInvoiceProcessing/Forms/Login.aspx</a></td>
                <td>Login Id:</td>
                <td>$$loginid$$</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>$$pwd$$</td>
            </tr>
        </table>
        <br />
        <br />

    </div>
        <br />
            <br />
    <span style="font-family: Arial; font-size: 10pt">Regards,</span>
    <br />
    <b><span style="font-family: Arial; font-size: 10pt">Mailroom Team<br />
    <br />
        <b><span style="font-family: Arial; font-size: 10pt">Writer Information<br />
    <br />
    <br />
    <br />
  <span style="font-family: Arial; font-size: 7pt">  Note: This communication is system generated, sent through official email id of Writer Information, Mumbai and hence, it does not require signature.</span>
   
</body>
</html>
